li {
	list-style: none;
	display: flex;
	margin: 15px;
}

.thumbnail, .titleBlock {
	display: inline-block;
	justify-content: top;
}
.titleblock {
	height: 30vh;
}

h3 {
	margin: 0;
	padding: 0;
}

h4 {
	margin: 0;
	padding: 0;
}

.authorLine {
	margin: 8px 0 0;
}